<table class = "table table-striped table-bordered table-hover">
    <caption>List of agencies</caption>
    <thead>
        <tr>
            <th>Agency Name</th>
            <th>Country</th>
            <th>Country Code</th>
            <th>City</th>
            <th>Street</th>
            <th>Currency</th>
            <th>Contact Person</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let agency of agencies" >
            <td> {{ agency.name }} </td>
            <td> {{ agency.country }} </td>
            <td> {{ agency.countryCode }} </td>
            <td> {{ agency.city }} </td>
            <td> {{ agency.street }} </td>
            <td> {{ agency.currency }} </td>
            <td> {{ agency.contact }} </td>
            <td class="text-center">
                <button (click) = "updateAgency(agency.id)" class = "btn btn-primary"> Update</button>
                <button (click) = "deleteAgency(agency.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
    </tbody>
</table>